
body {
   background-image: image(images/bg.jpg);
   background-repeat: no-repeat;
}
.container {
  margin:0 auto;
  width:80%;
}

header{
  width: 80%;
  margin: 0 auto;
}
.socialicons img{
  max-width: 35px;
}
.socialicons{
  border-left: 1px dotted white;
  margin-left: 610px;
}
.socialicons a{

}

header ul li{
  text-decoration: none;
  display: inline-block;
}

.picsover img{
    margin:0 auto;
    width:80%;
}
.red a{
  display: inline-block;
  margin: 0 auto;
  background-color: red;
  text-decoration: none;
  color:white;
  padding: 0 10px 0 10px;
  font-size: 16px;
}
.red nav{
  width:80%;
  margin:0 auto;
}
.red ul {
font-family: sans-serif;
width:70%;
margin:0 auto;
}
div.center-cropped {
  width: 100px;
  height: 100px;
  overflow:hidden;
}
div.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.sec1 {
  display: inline-block;
  position: relative;
  border-color: green;
  width: 20%;
  margin: 0 auto;
}
.sec2{

}
.sec3 ul{
  border-color: green;
  border: 1px;
  display: inline-block;
  padding:0;
  margin:0 auto;
}
.sec3 ul li{
  display: inline-block;
  padding:0;
  margin:0 auto;
}
