body {
   background-repeat: no-repeat;
}
.container {
  margin:0 auto;
  width:80%;
}

header{
  width: 80%;
  margin: 0 auto;
}
.socialicons img{
  max-width: 35px;
}
.socialicons{
  border-left: 1px dotted white;
  margin-left: 610px;
}

header ul li{
  text-decoration: none;
  display: inline-block;
}

.picsover img{
    margin:0 auto;
    width:60%;
}

.red a{
  display: inline-block;
  margin: 0 auto;
  background-color: red;
  text-decoration: none;
  color:white;
  padding: 0 10px 0 10px;
  font-size: 16px;
}
.red nav{
  width:52%;
  margin:0 auto;
}
.red ul {
font-family: sans-serif;
width:52%;
margin:0 auto;
}

.picsover {
  width: 65%;
  height:300px;
  overflow:hidden;
  margin: 0 auto;
  border: 5px solid white;
}

.center-top img{
  position: absolute;
  width:52%;
  padding-top:50px;
}

.sec1 {
  display: inline-block;
  width: 24%;
  margin: 0 auto;
}
.sec2{

}
.sec3 {
  border: 1px blue;
  display: inline-block;
  padding-right:30px;
  margin:0 auto;
}
.sec3 ul li{
  max-height: 20px;
  display: inline-block;
  padding:0 0px 0 0px;
  margin:0 auto;
}

.middlesection{
  position: relative;
  border-color: green;
  margin:0 auto;
  width:52%;
  border: 5px solid white;
}

.smallicons{
  border-right: 1px dotted white;
  margin-right: 610px;
  display: inline-block;
  text-decoration: none;
}

.smallicons img{
  max-width: 25px;
  display: inline-block;
  text-decoration: none;
}

footer{
  margin: 0 auto;
  width:52%;
  border: 5px solid white;
  background-color: white;
}
.skateboards{
  background-color: white;
  margin: 0 auto;
}
.sec3 img{
  max-width: 55px;
  padding: 0 0px 0 0px;
  margin: 0 auto;
}
.box1, .box2, .box3{
  background-color: white;
  position: relative;
  display: inline-block;
}
.footerpara{
  display: inline-block;
}
.contactform{
  display: inline-block;
}
